# Мегафон, пробный контест 
2021 г

In [57]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [58]:
train = pd.read_csv('contest_train.csv')
train

,ID,TARGET,FEATURE_0,FEATURE_1,FEATURE_2,FEATURE_3,FEATURE_4,FEATURE_5,FEATURE_6,FEATURE_7,...,FEATURE_250,FEATURE_251,FEATURE_252,FEATURE_253,FEATURE_254,FEATURE_255,FEATURE_256,FEATURE_257,FEATURE_258,FEATURE_259
0,1053371037,1,2.0,2.0,0.0,0.0,0.0,0.0,0.0,-114.527812,...,39.0,2.0,223.118594,290.015143,1.0,1.0,0.0,1.0,2.0,2.0
1,76507184,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,329.828334,...,25.0,82.0,479.616045,611.651594,0.0,1.0,0.0,1.0,1.0,1.0
2,76753690,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.427338,...,119.0,0.0,352.268014,564.573421,1.0,1.0,0.0,1.0,1.0,1.0
3,1026167358,0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,23.621397,...,1.0,0.0,410.524985,421.653876,1.0,0.0,0.0,1.0,2.0,2.0
4,7220095746,0,4.0,3.0,1.0,0.0,1.0,0.0,0.0,677.745861,...,21.0,0.0,439.171356,476.189288,1.0,1.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24516,1152298722,1,7.0,2.0,0.0,0.0,0.0,0.0,0.0,-36.555841,...,35.0,0.0,439.424027,431.111705,0.0,0.0,0.0,1.0,1.0,1.0
24517,1154036659,0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,-8.589135,...,52.0,0.0,355.145856,410.288394,1.0,1.0,0.0,2.0,1.0,2.0
24518,1152393779,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64.095346,...,0.0,0.0,110.133312,115.087534,0.0,0.0,0.0,1.0,1.0,1.0
24519,1153761763,1,3.0,2.0,0.0,0.0,0.0,0.0,0.0,-14.182606,...,0.0,0.0,514.319183,583.248265,1.0,0.0,0.0,1.0,2.0,1.0
24520,1153760355,0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,-9.308210,...,18.0,2.0,606.348149,1020.831443,1.0,1.0,0.0,1.0,2.0,1.0

### Разобьём выборку для работы
Сначала разобьём датасет на X, y(параметры и результаты) и избавимся от ID, так как он ничего не даёт на тренировочной выборке

In [59]:
X = train.drop(['ID', 'TARGET'], axis=1)
y = train['TARGET']

In [60]:
X.head(5)

,FEATURE_0,FEATURE_1,FEATURE_2,FEATURE_3,FEATURE_4,FEATURE_5,FEATURE_6,FEATURE_7,FEATURE_8,FEATURE_9,...,FEATURE_250,FEATURE_251,FEATURE_252,FEATURE_253,FEATURE_254,FEATURE_255,FEATURE_256,FEATURE_257,FEATURE_258,FEATURE_259
0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,-114.527812,-17.218055,0.0,...,39.0,2.0,223.118594,290.015143,1.0,1.0,0.0,1.0,2.0,2.0
1,1.0,1.0,0.0,0.0,1.0,0.0,0.0,329.828334,NaN,3.0,...,25.0,82.0,479.616045,611.651594,0.0,1.0,0.0,1.0,1.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.427338,-6.680747,0.0,...,119.0,0.0,352.268014,564.573421,1.0,1.0,0.0,1.0,1.0,1.0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,23.621397,36.659534,0.0,...,1.0,0.0,410.524985,421.653876,1.0,0.0,0.0,1.0,2.0,2.0
4,4.0,3.0,1.0,0.0,1.0,0.0,0.0,677.745861,NaN,3.0,...,21.0,0.0,439.171356,476.189288,1.0,1.0,0.0,1.0,1.0,1.0

In [61]:
y.value_counts()
#действительно 3 сегмента(а ещё Nan-ов нет!)

0    17372
1     5650
2     1499
Name: TARGET, dtype: int64

### Начнём препроцессинг:

In [62]:
X.isnull().values.any()
# в датасете есть пустые значения, опеределим какой тип у признаков,
# чтобы выбрать метод заполнения NaN-ов

True

In [63]:
(X.dtypes == "object").values.any()
# Категориальных признаков, видимо, нет, а значит все признаки либо количественные,
# либо бинарные:

False

In [64]:
from sklearn.impute import SimpleImputer

# используем Simple Imputer и заполним средним значением пустые ячейки:

mis_replacer = SimpleImputer(strategy="mean")
X = pd.DataFrame(data=mis_replacer.fit_transform(X), columns=X.columns)

In [65]:
X

,FEATURE_0,FEATURE_1,FEATURE_2,FEATURE_3,FEATURE_4,FEATURE_5,FEATURE_6,FEATURE_7,FEATURE_8,FEATURE_9,...,FEATURE_250,FEATURE_251,FEATURE_252,FEATURE_253,FEATURE_254,FEATURE_255,FEATURE_256,FEATURE_257,FEATURE_258,FEATURE_259
0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,-114.527812,-17.218055,0.0,...,39.0,2.0,223.118594,290.015143,1.0,1.0,0.0,1.0,2.0,2.0
1,1.0,1.0,0.0,0.0,1.0,0.0,0.0,329.828334,278.787390,3.0,...,25.0,82.0,479.616045,611.651594,0.0,1.0,0.0,1.0,1.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.427338,-6.680747,0.0,...,119.0,0.0,352.268014,564.573421,1.0,1.0,0.0,1.0,1.0,1.0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,23.621397,36.659534,0.0,...,1.0,0.0,410.524985,421.653876,1.0,0.0,0.0,1.0,2.0,2.0
4,4.0,3.0,1.0,0.0,1.0,0.0,0.0,677.745861,278.787390,3.0,...,21.0,0.0,439.171356,476.189288,1.0,1.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24516,7.0,2.0,0.0,0.0,0.0,0.0,0.0,-36.555841,-43.535029,0.0,...,35.0,0.0,439.424027,431.111705,0.0,0.0,0.0,1.0,1.0,1.0
24517,1.0,1.0,0.0,0.0,0.0,0.0,0.0,-8.589135,-10.308442,0.0,...,52.0,0.0,355.145856,410.288394,1.0,1.0,0.0,2.0,1.0,2.0
24518,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64.095346,-0.591111,0.0,...,0.0,0.0,110.133312,115.087534,0.0,0.0,0.0,1.0,1.0,1.0
24519,3.0,2.0,0.0,0.0,0.0,0.0,0.0,-14.182606,10.981605,0.0,...,0.0,0.0,514.319183,583.248265,1.0,0.0,0.0,1.0,2.0,1.0
24520,2.0,2.0,0.0,0.0,0.0,0.0,0.0,-9.308210,46.125776,0.0,...,18.0,2.0,606.348149,1020.831443,1.0,1.0,0.0,1.0,2.0,1.0

In [66]:
X.isnull().values.any()
# убедились, что пустых строк в датасете с признаками нет

False

In [67]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=22)
# кросс-валидацию делать не стоит, потому что данных 25 к rows
# хотя я делаю контест для команды Big data, вдруг это не так много и надо будет делать кросс-валидацию... we'll see

### Применим несколько линейных методов:
* Ridge Classifier из sklearn (вдруг будет ок)

In [68]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import RidgeClassifier

normalizer = StandardScaler()
X_train = normalizer.fit_transform(X_train)
X_train = pd.DataFrame(data=X_train)
X_test = normalizer.fit_transform(X_test)
X_test = pd.DataFrame(data=X_test)
clf = RidgeClassifier().fit(X_train, y_train)
print(clf.score(X_train, y_train))
print(clf.score(X_test, y_test))

0.7220344907946865
0.7121109147750442

In [69]:
from sklearn.metrics import f1_score
print(f1_score(y_train, clf.predict(X_train), average=None))
print(f1_score(y_test, clf.predict(X_test), average=None))

[0.83838525 0.1134044  0.21667966]
[0.83054462 0.11370558 0.23188406]

Очевидно, что на классах 1 и 2 Ridge работает очень слабo.
Попробуем XGboost

In [70]:
import xgboost as xgb

In [71]:
data_dmatrix = xgb.DMatrix(data=X,label=y)

In [75]:
xg_reg = xgb.XGBClassifier(objective ='binary:logistic', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 1, n_estimators = 10)
xg_reg.fit(X_train,y_train)

f1_score(y_test, xg_reg.predict(X_test), average=None), f1_score(y_train, xg_reg.predict(X_train), average=None)

[21:02:27] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

(array([0.83306321, 0.01357466, 0.28712871]),
 array([0.84115898, 0.02948526, 0.38319088]))

In [ ]:
from sklearn.neighbors import KNeighborsClassifier